<mat-card>
  <mat-card-title>Number to Binary</mat-card-title>
  <mat-form-field>
    <input matInput id="numInput" type="number" placeholder="Number" [formControl]="numberInput" (input)="onNumberInput()">
    <mat-error *ngIf="numberInput.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  &nbsp;

  <mat-form-field>
    <input matInput id="binInput" type="text" placeholder="Binary" [formControl]="binaryInput" (input)="onBinaryInput()">
    <mat-error *ngIf="binaryInput.invalid">{{ getBinaryErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- <div>
    <button mat-raised-button type="button" [disabled]="numberInput.invalid" (click)="onConvert()">Convert</button>
  </div> -->
  <br>
  <mat-divider></mat-divider>
  <br>

  <mat-card-content *ngIf="binaryNumber">
    <h4>Binary to Number Expression</h4>
    <p [innerHTML]="getBinaryToNumberExpression()"></p>
  </mat-card-content>

</mat-card>
